<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Portal</title>
  <link rel="stylesheet" href="login.css">
</head>
<body>
  <header>
    <div class="nav__logo">
      <a href="index.html">Med<span>Bridge</span></a>
    </div>
  </header>
  <div class="form-container">
    <form action="/login" method="post">
      <h2>Login</h2>
      <input type="email" placeholder="Email" name="email">
      <input type="password" placeholder="Password" name="password">
      <button type="submit">Login</button>
      <p>Don't have an account? <a href="signup">Register</a></p>
    </form>
  </div>
</body>
</html>
